@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root {
  font-family:"Roboto",sans-serif;
  line-height:1.5;
  font-weight:400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  
  --buttonColor: #2a2c30;
  --secondaryColor: #4b4f56;
  --borderColor: #e3eaf0;
  --backgroundColor: #f7f7f7;
  --backgroundSecondary: #fefefe;
  --textColor: #1e1f23;
  --anchorColor: #535bf2;
  --main-color: #535bf2;
  --supporting-color: #ebf3fe;
  --glow-color: hsl(186, 91%, 4%);
  --para-color:#ffffff;
  --heading-color:#003B99;
}

html {
  font-size: 62.5%;
  color:var(--textColor);
}
body {
  margin:0 auto;
  padding:0 32px;
  min-width: 320px;
  background-color: var(--backgroundColor);
}

h1,h2,h3,h4,h5,h6 {
  line-height:1.1;
  color: var(--textColor);
}

h1 {
  font-size:3.2rem;
}
h2 {
  font-size:3.2rem;
}

p,li,a,label {
  font-size:1.5rem;
  letter-spacing:0.1rem;
  line-height: 1.5;
  font-weight: 400;
 
}
li {
  list-style: none;
}
a {
  color:#646cff;
  text-decoration:none
}
a:hover {
  color:#535bf2
}
::placeholder {
  font-family:"Urbanist",sans-serif;
  line-height:1.5;
  font-weight:400;
}
/*layout*/
.container {
  max-width: 130rem;
  margin:0 auto;
  padding:9.6rem 2.4rem;
}
:is(
  .section_extra_product,
  .section_blog,
  .section_policy,
  .section_contact_homepage,
  .section_why_choose,
  .section_contact,
  footer
) .container:first-child {
  padding:6.4rem 0 2.4rem 0;
}

.grid {
  display:grid;
}
.grid-two--cols {
  grid-template-columns: repeat(2,1fr);
}
.grid-three--cols {
  grid-template-columns: repeat(3,1fr);
}
.grid-four--cols {
  grid-template-columns: repeat(4,1fr);
}
/*reusable modules*/
.btn {
  display:inline-block;
  padding:1.2rem 3.2rem;
  background-color: var(--buttonColor);
  color: var(--para-color);
  text-transform: capitalize;
  border-radius:0.6rem;
  transition:all 0.3s ease;
}
.section_common_title {
  font-size:2rem;
  margin:2.4rem 0 1.2rem 0;
}
.btn:hover {
  cursor:pointer;
  transform: translateY(-4px);
  color: var(--para-color);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.btn:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: 2px solid var(--para-color);
}

/*Navbar Section*/
.top_txt {
  background-color: var(--buttonColor);
  color: var(--backgroundColor);
  padding: 1.5rem 2rem ;
}
.top_txt .head_txt p {
  font-size:1.3rem;
 
}
.head_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.signUp {
  display: flex;
  gap:2.5rem;
}
.signlink {
  color: var(--para-color);
  transition: all 0.3s ease;
}
.signlink:hover {
  cursor:pointer;
  transform: translateY(-4px);
  color: var(--para-color);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.section_navbar {
  width:100%;
  box-shadow:rgba(0,0,0,0.05) 0px 6px 24px 0px,
      rgba(0,0,0,0.08) 0px 0px 0px 1px;

}
.section_navbar .container {
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:1.6rem;
}
.logo {
  mix-blend-mode: multiply;
  width: 140px;
}
.section_navbar .navbar ul {
  display:flex;
  gap:3.2rem;
  text-transform: capitalize;
  align-items: center;
}
.nav_item .nav_link {
  color:var(--textColor);
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.6rem;
  display: inline-block;
  position: relative;
}
.nav_link::after {
  content:"";
  position:absolute;
  bottom:-0.3rem;
  left:0;
  width:0%;
  border-bottom:0.1rem solid var(--main-color);
  transition:all 0.3s linear;
}
.nav_link:hover {
  color:var(--main-color);
}
.nav_link:hover::after {
  width:100%;
}
/*Hero Section*/
main {
  height:92vh;
  position:relative;
  background-color:#d9e9ff;
  background-image:linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}
.custom-shape-divider-bottom-1696038172 {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  overflow: hidden;
  line-height:0;
  transform: rotate(180deg);
}
.custom-shape-divider-bottom-1696038172 svg {
  position:relative;
  display:block;
  height:12rem;
  width:calc(100% + 1.3px);
}
.shape-fill {
  fill:#ffffff;
}
.section_hero {
  height: 90vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.heroImage {
  width: 100%;
  height:auto;
  transform: scaleX(-1);
}
.section_hero .grid {
  align-items: center;
  gap:6.4rem;
}
.hero_subheading {
text-transform: uppercase;
letter-spacing:0.2rem;
word-spacing: 0.2rem;
font-size:1.7rem;
color: var(--heading-color);
font-weight: 700;
}
.hero_heading {
  font-size:5.8rem;
  line-height: 1.5;
  initial-letter: -0.2rem;
  text-transform: capitalize;
  color:var(--heading-color);
  font-family: "Jost";
}
.hero_para {
  color:white;
  margin:2rem 0 4.2rem 0;
}
/*Extra Section*/
.div_extra {
  padding:3.2rem 2.4rem;
  position:relative;
  background-color:var(--backgroundSecondary);
  border-radius: 0.5rem;
  transition:all 0.3s ease;
}
.div_extra:hover {
  transform: translateY(-5px);
}

.div_extra::after {
  content:"";
  position:absolute;
  right:0;
  bottom:0;
  width:15rem;
  height:15rem;
  border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
  background-color: var(--borderColor);
  z-index: 1;
}
.extra_img {
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index: 2;
}
.extra_text p {
  text-transform: uppercase;
  font-size:1.4rem;
  color:#1f36b9;
}
.extra_text h3 {
  font-size:2.4rem;
  text-transform: capitalize;
  margin:0.6rem 0 1.6rem 0;
}
.extra_text a {
  text-transform: uppercase;
  color:var(--buttonColor);
  border-bottom: 0.1rem solid var(--secondaryColor);
}
.extra_img img {
  width:90%;
  filter:drop-shadow(5px 8px 24px rgba(25,76,127,0.2));
  max-width: 100%;
  height: auto;
}
.div_extra:last-child img {
  transform: rotate(5deg);
}
.extra_laptop {
  width:60rem;
  height:auto;
}
.grid-three--cols {
  gap:6.4rem;
}
.grid-three--cols div {
  justify-self: left;
}
/*Policy Section*/
.section_policy .container {
  padding: 3.2rem 0;
  background-color: #fefefe;
  border-radius: 0.5rem;
}
.div_policy {
  padding:3.2rem;
  display:flex;
  align-items:center;
  gap:3.2rem;
  border-right:0.1rem solid var(--backgroundColor);
  transition:all 0.3s ease;
}
.div_policy:hover {
  transform: translateY(-5px);
}
.div_policy:last-child {
  border-right:none;
}
.icons {
  font-size:3.2rem;
  color:#576ef0;
}
.div_policy_text p {
  text-transform: capitalize;
}
.div_policy_text p:last-child {
  font-size:1.3rem;
}
/*why choose us section*/
.section_why_choose .grid {
  gap:9.6rem;
  align-items: center;
}
.why_choose_div {
  margin-bottom: 3.2rem;
}
.section_why_choose .text_align_right .why_choose_div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align:center;
}
.section_why_choose .text_align_left .why_choose_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}
.common_text_highlight {
  color:var(--main-color);
  width:6rem;
  height:6rem;
  background-color:var(--supporting-color);
  border-radius: 50%;
  font-size:2.4rem;
  margin:0;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
}
.common_text_highlight:hover {
  transform: translateY(-5px);
  background-color: #4d91ff;
  color: var(--supporting-color);
}
.why_choose_div .section_common_title {
  margin-top: 1.2rem;
  text-align: center;
  width: 100%;
}
.choose_div_center, .choose_div_center figure {
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  transform-origin: center;
}
.choose_div_center figure::before {
  content:"";
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:45rem;
  height:45rem;
  border-radius: 50%;
  background-color:var(--main-color);
  z-index: -1;
  animation: circle 5s linear infinite;
}
@keyframes circle {
    0%   { background-color: #b3d0ff; transform: translate(-50%, -50%) scale(1); }
  50%  { background-color: #4d91ff; transform: translate(-50%, -50%) scale(1.05); }
  100% { background-color: #3381ff; transform: translate(-50%, -50%) scale(1); }
}
.choose_div_center figure::after {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:50rem;
  height:50rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.5rem solid var(--supporting-color);
  z-index: -1;
}
.choose_div_center img {
  width:90%;
  height:auto;
}
/*footer section*/
footer {
  width:100%;
  background-color: var(--buttonColor);
  color:var(--backgroundColor);
  border-top-left-radius:0.5rem;
  border-top-right-radius:0.5rem;
  margin-top:6.4rem;
}
.footerlogo {
  
  width:140px;
  
}
.footer_container {
  display:flex;
  justify-content: space-between;
  padding: 4rem 2rem;
  gap:3rem;
}
.footer_container h4 {
  color:#f7f7f7;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
}
.footer_container a {
  display: block;
  text-decoration: none;
  color:#cccccc;
  margin-bottom: 1.5rem;
  font-size:1.3rem;
  transition:all 0.3s ease;
}
.footer_container a:hover {
  transform: translateY(-5px);
  color:#f7f7f7;
  cursor: pointer;
}
.footer_container .content_1 p, .footer_container .content_4 p {
  color:#f7f7f7;
  font-size: 1.5rem;
  margin: 2.5rem 0;
}
.footer_container ,.content_1 p, .content_1 img {
  padding-left:1rem;
}
.footer_container .content_4 input {
  background-color: var(--textColor);
  color:var(--backgroundColor);
  border:none;
  outline:none;
  padding:1.4rem 0.8rem;
  width:100%;
}
.f_email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0.5rem;
  padding-top:1rem;
  position: relative;
}
 .bx  {
  color: #f7f7f7;
  position:absolute;
  font-size: 2.4rem;
  right:1rem;
}

.content_4 hr {
  margin-right: 0.5rem;
}


.f-design {
  width:100%;
  text-align: center;
  color:#f7f7f7;
 
}
.f_design_border {
  border-top: 1px solid var(--secondaryColor);
  padding:1.6rem 0;
  color:#ffffff;
  text-align: center;
}
/*cart button*/
#cartValue {
  background-color: var(--buttonColor);
  color:#ffff;
  padding:1rem 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  gap:0.6rem;
}
.add-to-cart-button, .contact-btn {
  font-weight:500;
  font:inherit;
  border:0;
  border-radius: 6px;
  padding:1rem 2.8rem;
  background-color: var(--buttonColor);
  color:#ffff;
  font-size: 1.6rem;
  width: 100%;
}
.add-to-cart-button:hover, .contact-btn:hover {
  background-color: var(--backgroundColor);
  color:var(--buttonColor);
  cursor:pointer;
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.16), inset 0 0 0 3px rgb(51,51,51);
}
.fa-cart-shopping {
  
 padding-right: 1rem;
 margin-right: 1rem;
}
.cartvalue {
  padding-left: 1rem;
}
/*Home Products Section*/
.productContainer {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:4.8rem;
}
.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:1rem;
}
.cards {
  display:flex;
  align-items:flex-start;
  flex-wrap: wrap;
  gap:2.5rem;
  width:36rem;  
  padding:1.6rem;
  margin:1.6vh auto;
  box-shadow: rgba(0,0,0,0.1) 0px 4px 12px;
  border-radius: 0.3rem;
}
.category {
  background-color: #e7d6d6;
  padding:0.3rem 1.2rem;
  font-size:1.2rem;
  letter-spacing: 0.1rem;
  border-radius:10rem;
}
.productImage {
  max-width: 100%;
  width:32rem;
  height:auto;
}
.productPriceContainer, .productStockContainer, .productQuantityContainer {
   display:flex;
   gap:2rem;
   align-items: center;
   text-align: center;
}
.productActualPrice {
  text-decoration: line-through;
}
.productPriceContainer {
  margin:0.8rem 0;
}
.productProperty, .productDescription {
  font-size: 1.6rem;
}
.stockContainer {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border:0.2rem solid var(--borderColor);
  border-radius:0.8rem;
  margin:0.8rem 0;
}
.cartIncrement, .cartDecrement {
  background-color: transparent;
  color:var(--buttonColor);
  font-size:2rem;
  padding:0.6rem 2rem;
  font-weight: bold;
  border:none;
}
.cartIncrement:hover, .cartDecrement:hover {
  cursor: pointer;
}
.cartIncrement {
  border-right: 0.1rem solid var(--borderColor);
  border-radius: 0;
}
.cartDecrement {
  border-left:0.1rem solid var(--borderColor);
  border-radius: 0;
}
.productQuantity {
  padding:0rem 3rem;
  margin:0;
  font-weight: bold;
}
.checkoutHeading {
  font-size:3.2rem;
  font-weight: bold;
  line-height:1.1;
  margin-left:-2rem;
}
.fa-star {
  color:#e9db16;
}
.productBtn {
  width:180px;
  transition: all 0.3s ease;
}
.productBtn:hover {
   transform: translateY(5px);
}